<dx-popup
        [(visible)]="staticIsPopupVisible"
        [closeOnOutsideClick]="false"
        [showCloseButton]="false"
        [showTitle]="false"
        [height]="300"
        width="60%"
        [dragEnabled]="false">
    <div *dxTemplate="let data of 'content'">
        <div class="submit-dialog">
            <div class="form-group">
                <label class="item-title">Name</label>
                <dx-text-box [(ngModel)]="orderInfo.name">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="* Name is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
                <label class="item-title">Phone Number</label>
                    <dx-text-box [(ngModel)]="orderInfo.name">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="* Phone number is required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                <div class="total-money">
                    <span class="money-title">Total money</span>
                    <span class="money">{{orderInfo.totalMoney | currency: 'VND'}}</span>
                </div>
                <div class="group-btn">
                    <dx-button type="danger" (onClick)="closePopup()">Cancel</dx-button>
                    <dx-button type="success" (onClick)="onSubmitOrder()">Submit</dx-button>
                </div>
            </div>
        </div>
    </div>
</dx-popup>
