@import "../../assets/styles";
.submit-dialog {
    .item-title {
        margin-top: 25px;
    }
    .total-money {
        float: left;
        margin: 20px 0 0 0;
        .money {
            font-size: $font-medium;
            color: $money-color;
        }
        .money-title {
            font-size: $font-small;
            margin-right: 20px;
        }
    }
    .group-btn {
        float: right;
        dx-button {
            margin: 20px;
        }
    }

}
@media (max-width: 400px) {
    .submit-dialog {
        width: 230px;
    }
}
