.add-flower-form {
    .vnd-currency {
        font-size: 20px;
    }
    .item-title {
        margin-top: 25px;
    }
    .group-btn {
        margin-top: 25px;
        float: right;
        dx-button {
            margin: 20px;
        }
    }
}
//@media (max-width: 400px) {
//    .add-flower-form {
//        width: 230px;
//    }
//}


