<app-login></app-login>
<header class="top-bar">
    <nav class="container">
        <div class="row">
            <div class="col-xs-6 col-md-9">
                <a routerLink="/" class="btn-title">Flower Shop</a>
            </div>
            <div class="col-xs-6 col-md-3">
                <dx-toolbar class="tool-bar"
                            [items]="toolbarContent">
                </dx-toolbar>
                <dx-drawer class="drawer-item"
                           [position]="selectedPosition"
                           [revealMode]="selectedRevealMode"
                           template="template"
                           [opened]="false"
                           closeOnOutsideClick="true">
                    <div *dxTemplate="let data of 'template'">
                        <div class="group-btn">
                            <dx-button (click)="openDialog()">{{staticBtnLoginTitle}}</dx-button>
                            <br>
                            <dx-button routerLink="cart">
                                Cart
                                <span class="badge custom">{{staticTotalQuantity}}</span>
                            </dx-button>
                            <br>
                            <dx-button (click)="logout()">Logout</dx-button>
                        </div>
                    </div>
                </dx-drawer>
            </div>
        </div>
    </nav>
</header>
