@import "../../assets/styles";
.top-bar {
    width: 100%;
    height: 100px;
    background-color: $bg-color-top-bar;
    padding-top: 20px;
    position: fixed;
    margin: 0;
    z-index: 1;
    .btn-title {
        display: inline-block;
        white-space: nowrap;
        color: #fff;
        font-size: 30px;
        margin: 10px 0 0 5px;
    }

    .tool-bar {
        background-color: $bg-color-top-bar;
        //width: 200px;
    }
    .drawer-item {
        //width: 100px;
        .group-btn {
            background-color: rgba(198, 240, 132, 0.82);
            border-radius: 5px;
            dx-button {
                color: #fff;
                background-color: $bg-color-top-bar;
                font-size: $font-medium;
                width: 95%;
                margin: 3px 6px 3px 6px;
            }
        }
    }
    @media (max-width: 375px) {

    }
}
a {
    text-decoration: none;
}




